.course-buy button{
    width: 100%;
    margin-right: 10px;
    background-color: #F37335 !important;
    border: 0;
}
.course-purchase{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    
}
.course-purchase:hover{
    color: #ffffff;
}
