.display-profile{
    background-color: #fff7f3;
    padding: 20px;
    background-color: F37335;
    border-radius: 15px;
}
.display-profile-heading{
    background-color: #ffc7ab;
    padding: 10px 0;
    border-radius: 8px;
}
.update-profile{
    margin-left: 17%;
}